# Creating Cat Database

In [1]:
#Create Database Connection
import sqlite3 
connection = sqlite3.connect('pets_database.db')
cursor = connection.cursor()

In [2]:
#Creating the Cats Table
#create table =here
cursor.execute('''
CREATE TABLE cats (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER,
    breed TEXT
)
''')

OperationalError: table cats already exists

In [3]:
#Insert new entry into database
cursor.execute('''INSERT INTO cats (name, age, breed) VALUES ('Maru', 3, 'Scottish Fold');''')

In [4]:
#Select all values from the 'Cats' table
cursor.execute('''SELECT * from cats''').fetchall()

[(1, 'Maru', 3, 'Scottish Fold'), (2, 'Maru', 3, 'Scottish Fold')]

In [5]:
#Run SQL file 
script = open("01_insert_cats_into_cats_table.sql", 'r', encoding='utf8')
sql = script.read()
cursor.executescript(sql)
file.close()

OperationalError: near "<": syntax error

In [6]:
#Selecting a cat using the WHERE clause
cursor.execute('''SELECT * from cats WHERE name = 'Maru';''').fetchall()

[(1, 'Maru', 3, 'Scottish Fold'), (2, 'Maru', 3, 'Scottish Fold')]